@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Montserrat+Alternates:wght@600&family=Noto+Sans:wght@500&family=Righteous&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #CADEC9;
    height: 100%;
    background: linear-gradient(to top, lightgreen, #ADE6AC,#CADEC9);
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #557153;
    color: #000000;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    font-family: 'Bebas Neue', sans-serif;
}

#logo {
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
    letter-spacing: 3px;
    margin-left: 5px;
    font-family: 'Righteous', cursive;
}

#logo:hover {
    color: #70BE47;
    transition: 0.6s;
}

.nav-button{
    border: 0;
    border-radius: 4px;
    padding: 8px;
    background-color: #557153;
    margin: 8px;
    cursor: pointer;
}

.overlay {
   display: none;
}

.nav-button {
    display: none;
}

#sections {
    display: flex;
}

.section {
    font-size: 18px;
    letter-spacing: 1px;
    margin-right: 15px;
    font-family: 'Righteous', cursive;
}

.section a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    transition: 0.5s;
}

.section a:hover {
    color: #70BE47;
}

.section nav {
    display: flex;
}

.section nav a {
    margin-right: 15px;
}

.menu-mobile {
    display: none;
    cursor: pointer;
}

.menu-mobile div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

.content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -5vh;
    border-bottom: 2px solid black;
    margin-bottom: 5vh;
  }
  
.text {
    text-align: left;
    font-size: 75px;
    color: #111B00;
    text-shadow: -1px -1px 0 #70BE47;
    /*border-color: ;*/
    margin-right: 62vh;
    font-family: 'Bebas Neue', sans-serif;
}
  
.icons {
    margin-top: -70px;
    
}

.image {
    text-align: right;
}

.image img {
    margin-top: 15px; 
    border-radius: 10px;
    height: 300px;
    width: 585px;
    margin-right: 15px;
}

.image p {
    font-size: 25px;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    font-size: 45px;
}

.section2 {
    height: 100vh;
    width: 100%;
   flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    font-family: 'Noto Sans', sans-serif;
}

.section2 h1 {
    text-align: center;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 #70BE47;
    font-family: 'Bebas Neue', sans-serif;
}

#accordion {
    max-width: 800px;
    margin: auto;
    padding: 0 15px;
    text-align: center;
}

#accordion ul {
    text-align: left;
}

#accordion h2 {
    color: #111B00;
    margin-bottom: 30px;
    font-family: 'Righteous', cursive;
}

#accordion h3 {
    color: #111B00;
    font-size: 20px;
    text-align: left;
    line-height: 34px;
    padding: 15px 15px 0;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: .2s;
    letter-spacing: 1.5px;
    font-family: 'Righteous', cursive;
}

#accordion p {
    color: black;
    text-align: left;
    font-size: 16px;
    line-height: 1.45;
    overflow: hidden;
    max-height: 250px;
    will-change: max-height;
    contain: layout;
    display: inline-block;
    opacity: 1;
    transform: translate(0, 0);
    margin: 5px 50px 0 15px;
    transition: .3s opacity, .6s max-height;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    z-index: 2;
    letter-spacing: 1.5px;
}

#accordion ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
    
}

#accordion ul li {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #89a582;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0, 1);
    -webkit-tap-highlight-color: transparent;
    border-radius: 4px;
}

#accordion ul li + li {
    margin-top: 15px;
}

#accordion ul li:last-of-type {
    padding-bottom: 0;
}

#accordion ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 28px;
    right: 15px;
}

#accordion ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 9px;
}

#accordion ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 70%;
    height: 30%;
    z-index: 1;
    opacity: 0;
    touch-action: manipulation;
}

#accordion ul li input[type=checkbox]:checked ~ h2 {
    color: #fff;
}

#accordion ul li input[type=checkbox]:checked ~ p {
    margin: 0;
    max-height: 0;
    transition: .3s;
    opacity: 0;
}

.transition, p, ul li i:before, ul li i:after {
    transition: all 0.3s;
}

.section3 {
    margin-top: -11vh;
    height: 120vh;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #111B00;
    font-family: 'Noto Sans', sans-serif;
}

.section3 h1 {
    text-align: center;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 #70BE47;
    margin-top: 15vh;
    font-family: 'Bebas Neue', sans-serif;
}

.section3 img {
    margin-top: 5vh;
    float: right; 
    margin-left: 10px;
    border-radius: 10px;
    margin-right: 100px;
}

.section4 {
    height: 100vh;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -11vh;
    border-bottom: 2px solid black;
    font-family: 'Noto Sans', sans-serif;
}

.section4 h1 {
    text-align: center;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 #70BE47;
    margin-top: 15vh;
    font-family: 'Bebas Neue', sans-serif;
}

.section4 img {
    margin-top: 5vh;
    float: right; 
    border-radius: 10px;
    margin-right: 20px;
    
}

footer {
    background-color: #557153;
    color: #000000;
    padding: 10px;
    font-family: 'Righteous', cursive;
    font-weight: bold;
    letter-spacing: 0px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    font-size: 15px;
  }
  
  .footer-left li {
    margin-bottom: 10px;
  }
  
  .footer-center img,
  .footer-right img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .footer-center {
    text-align: center;
  }
  
  .footer-right {
    text-align: right;
  }
  
  .tecnologias {
    float: left; 
    width: 50%; 
    margin-right: 10px;
  }

  .section5 {
    height: 100vh;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -11vh;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    border-radius: 15px;
}

iframe {
    border-radius: 10px;
}

.section5 h1 {
    text-align: center;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 #70BE47;
    margin-top: 15vh;
    font-family: 'Bebas Neue', sans-serif;
}



